body{
    padding: 0;
    background-color: #ffffff;
}

.form-container{
    border: 1px solid #ffffff;
    padding: 30px;
    margin: 60px 0 0 0;
    background-color: #FFD1A4;
    color: black;
    border-radius: 10px;
}
.form-container h1{
    text-align: center;
}